{% block footer %}

<!-- partial:partials/_footer.html -->
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © <span
                class="tm-current-year">2020</span>. All rights
            reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Version 1.0.0 Beta</span>
    </div>
</footer>
<!-- partial -->

{% endblock footer %}
