{% block sidebar %}

{% load static %}

<!-- Main Sidebar Container -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item {{dashboard}}">
            <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
                <i class="mdi mdi-account-supervisor menu-icon"></i>
                <span class="menu-title">Admin Panel</span>
            </a>
        </li>
        <li class="nav-item nav-category">Pos Elements</li>
        <li class="nav-item {{pos}}">
            <a class="nav-link" href="{% url 'pos' %}">
                <i class="mdi mdi-cash-register menu-icon"></i>
                <span class="menu-title">Process Sales</span>
            </a>
        </li>
        <li class="nav-item {{inventory}}">
            <a class="nav-link" href="{% url 'inventory' %}">
                <i class="mdi mdi-database-edit menu-icon"></i>
                <span class="menu-title">Inventory</span>
            </a>
        </li>
        <li class="nav-item {{payments}}">
            <a class="nav-link" href="{% url 'payments' %}">
                <i class="mdi mdi-cash-usd menu-icon"></i>
                <span class="menu-title">Payments</span>
            </a>
        </li>

        <li class="nav-item nav-category">Other Elements</li>

        <li class="nav-item">
            <a class="nav-link" href="#!">
                <i class="menu-icon mdi mdi-bell-alert"></i>
                <span class="menu-title">Notifications</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">
                <i class="menu-icon mdi mdi-wrench"></i>
                <span class="menu-title">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">
                <i class="menu-icon mdi mdi-calculator-variant"></i>
                <span class="menu-title">Calculator</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="logout-button" href="#">
                <i class="menu-icon mdi mdi-power"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>

        <li class="nav-item nav-category">help</li>
        <li class="nav-item">
            <a class="nav-link" href="#!">
                <i class="menu-icon mdi mdi-file-document"></i>
                <span class="menu-title">Documentation</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">
                <i class="menu-icon mdi mdi-account-question"></i>
                <span class="menu-title">Submit Issue</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link start-intro-tour" href="#!">
                <i class="menu-icon mdi mdi-binoculars"></i>
                <span class="menu-title">Take Tour</span>
            </a>
        </li>
    </ul>
</nav>

{% endblock sidebar %}
