{% extends 'pos/base.html' %}

{% block title %} ADVANCE-POS {% endblock %}

{% block content %}

{% load static %}


<script src="{% static 'pos/plugins/jquery/jquery.min.js' %}"></script>

<!--   INCLUDING THE BODY TAG -->
{% block bodytag %} {% include 'pos/includes/body_tag.html' %} {% endblock bodytag %}

<!--   INCLUDING THE TOP NAV -->
{% block topnav %} {% include 'pos/includes/topnav.html' %} {% endblock topnav %}
<!-- partial -->

<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <!--   INCLUDING THE SIDEBAR -->
    {% block settings %} {% include 'pos/includes/settings.html' %} {% endblock settings %}
    <!-- partial -->

    <!--   INCLUDING THE SIDEBAR -->
    {% block sidebar %} {% include 'pos/includes/sidebar.html' %} {% endblock sidebar %}
    <!-- partial -->

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" style="margin: 5px;">
                            <a href="#!" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#add_category"><i class="ti-plus btn-icon-append"></i>
                                Category</a>
                        </li>
                        <li class="nav-item" style="margin: 5px;">
                            <a href="#!" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#add_item_modal">
                                <i class="ti-plus btn-icon-append"></i>Add Item
                            </a>
                        </li>
                        <li class="nav-item hide-on-mobile" style="margin: 5px;">
                            <a href="#" id="refresh" class="btn btn-outline-warning btn-sm btn-icon-text">
                                <i class="ti-reload btn-icon-prepend"></i>
                                Refresh
                            </a>
                        </li>
                    </ul>
                    <div class="hide-on-mobile">
                        <div class="btn-wrapper">
                            <a href="#" class="btn btn-otline-dark btn-sm align-items-center disabled"><i class="icon-share"></i>
                                Share</a>
                            <a href="#" class="btn btn-otline-dark btn-sm disabled"><i class="icon-printer"></i> Print</a>
                            <a href="#" class="btn btn-outline-mdb-color me-0 disabled" style="margin-bottom: 5px;"><i class="icon-download"></i> Export</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body table-responsive pt-3">
                            <h4 class="card-title">Inventory Items</h4>
                            <div class="table-responsive pt-3">
                                <table id="items_table" class="table table-bordered text-nowrap table-striped">
                                    <thead>
                                        <tr>
                                            <th>ITEM</th>
                                            <th>DESCRIPTION</th>
                                            <th>QUANTITY</th>
                                            <th>PRICE</th>
                                            <th>VALUE</th>
                                            <th>CATEGORY</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                        <tr id='row{{item.id}}'>
                                            <td><a href="#!">{{item.item_name}}</a></td>
                                            <td>{{item.description|slice:":50"}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>{{item.unit_price}}</td>
                                            <td>{{item.value}}</td>
                                            <td>{{item.category}}</td>
                                            <td>
                                                <button style="border: none; color: blue" data-toggle="modal" data-target="#edit_item_modal{{item.id}}"><i
                                                        class="mdi mdi-table-edit"></i></button>
                                                <button onclick="deleteItem({{item.id}});" style="border: none; color: red;"><i
                                                        class="mdi mdi-trash-can"></i></button>
                                                <button style="border: none; color: green"><i
                                                        class="mdi mdi-chart-line"></i></button>

                                            </td>
                                        </tr>
                                        <!-- EDIT ITEM -->
                                        <div class="modal fade" id="edit_item_modal{{item.id}}">
                                            <div class="modal-dialog modal-xl">
                                                <form id="item-form">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title bold">Edit {{item.item_name}}</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div style="padding: 5px;">
                                                                {% csrf_token %}
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <div class="form-group" id="bloodhound">
                                                                                <label class="form-control-label" for="category">Category</label>
                                                                                <input type="text" id="category" name="category" class="form-control typeahead"
                                                                                    placeholder="Category...." value="{{item.category}}" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col form-group">
                                                                        <label class="form-control-label" for="item_name">Item Name</label>
                                                                        <input type="text" id="item_name" name="item_name" class="form-control"
                                                                            placeholder="Item Name..." value="{{item.item_name}}" required>
                                                                    </div>
                                                                    <div class="col-2 form-group">
                                                                        <label class="form-control-label" for="item_price">Sale Price</label>
                                                                        <input type="text" id="item_price" name="item_price" class="form-control"
                                                                            placeholder="Selling Price..." value="{{item.unit_price}}" required>
                                                                    </div>

                                                                    <div class="col-2 form-group">
                                                                        <label class="form-control-label" for="reorder_level">Reorder Level</label>
                                                                        <input type="text" id="reorder_level" name="reorder_level" class="form-control"
                                                                            placeholder="Reorder Level..." value="{{item.reorder_level}}" required>
                                                                    </div>
                                                                    <div class="col-2 form-group">
                                                                        <label class="form-control-label" for="reorder_quantity">Reorder Quantity</label>
                                                                        <input type="text" id="reorder_quantity" name="reorder_quantity" class="form-control"
                                                                            placeholder="Reorder Quantity..." value="{{item.reorder_quantity}}" required>
                                                                    </div>
                                                                    <div class="col-2 form-group">
                                                                        <label class="form-control-label" for="location">Location</label>
                                                                        <input type="text" id="location" name="location" class="form-control"
                                                                            placeholder="Location..." value="{{item.location}}">
                                                                    </div>

                                                                </div>
                                                                <div class="row form-group">
                                                                    <label class="form-control-label" for="description">Description</label>
                                                                    <textarea class="form-control" name="description" id="description" cols="5" rows="3"
                                                                        placeholder="A short description of the item...">{{item.description}}</textarea>
                                                                </div>

                                                                <hr class="my-4">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Update Item</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- ADD ITEM JQUERY SCRIPT -->
                                                <script>
                                                    var item_form = document.getElementById("update-item-form");
                                                    item_form.addEventListener('submit', submitHandler);

                                                    function submitHandler(e) {
                                                        e.preventDefault();

                                                        $.ajax({
                                                            type: 'POST',
                                                            url: "{% url 'create_item' %}",
                                                            data: $('#item-form').serialize(),
                                                            dataType: 'json',
                                                            success: function (data) {
                                                                item_form.reset()
                                                                // append new item to table
                                                                if (data.item) {
                                                                    appendToItemTable(data.item);

                                                                    // sweet alert modal
                                                                    var Toast = Swal.mixin({
                                                                        toast: true,
                                                                        position: 'top-end',
                                                                        showConfirmButton: false,
                                                                        timer: 5000,
                                                                        timerProgressBar: true,
                                                                        didOpen: (toast) => {
                                                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                                                        }
                                                                    });

                                                                    Toast.fire({
                                                                        icon: 'success',
                                                                        title: `Successfully Added ${data.item.item_name}`
                                                                    });
                                                                }
                                                            },
                                                            error: function () {
                                                                var Toast = Swal.mixin({
                                                                    toast: true,
                                                                    position: 'top-end',
                                                                    showConfirmButton: false,
                                                                    timer: 5000,
                                                                    timerProgressBar: true,
                                                                    didOpen: (toast) => {
                                                                        toast.addEventListener('mouseenter', Swal.stopTimer)
                                                                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                                                                    }
                                                                });

                                                                Toast.fire({
                                                                    icon: 'error',
                                                                    title: 'Something did not go right, please try again.'
                                                                })
                                                            }
                                                        });
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ADD CATEGORY MODAL -->
        <div class="modal fade" id="add_category">
            <div class="modal-dialog modal-sm">
                <form id="category-form">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="form-control-label" for="location">Category Name</label>
                                <input type="text" id="category_name" name="category_name" class="form-control" placeholder="Category Name">
                                <div class="category-input-error red-text" style="margin-top: 5px;"></div>
                            </div>
                            <div class="mt-4">
                                <button class="btn btn-outline-primary">Add Category</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- ADD CATEGORY JQUERY SCRIPT -->
                <script>
                    var category_form = document.getElementById("category-form");
                    category_form.addEventListener('submit', submitHandler);

                    function submitHandler(e) {
                        e.preventDefault();
                        var category_name = $("input[name='category_name']").val();
                        // dont accept empty inputs
                        if (category_name == "") {
                            $(".category-input-error").html("please give Category name first!");
                            return;
                        }

                        $(".category-input-error").html(""); // clear error div on valid input
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'create_category' %}",
                            data: $('#category-form').serialize(),
                            dataType: 'json',
                            success: function (data) {
                                if(data.category_name){
                                    category_form.reset()
                                    // sweet alert toast init
                                    var Toast = Swal.mixin({
                                        toast: true,
                                        position: 'top-end',
                                        showConfirmButton: false,
                                        timer: 5000,
                                        timerProgressBar: true,
                                        didOpen: (toast) => {
                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                        }
                                    });

                                    Toast.fire({
                                        icon: 'success',
                                        title: `${data.category_name} Created.`
                                    });
                                } else {
                                    // inform user of error
                                    $(".category-input-error").html("A category with that name Exists!");
                                    // sweet alert toast init
                                    var Toast = Swal.mixin({
                                        toast: true,
                                        position: 'top-end',
                                        showConfirmButton: false,
                                        timer: 5000,
                                        timerProgressBar: true,
                                        didOpen: (toast) => {
                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                        }
                                    });

                                    Toast.fire({
                                        icon: 'error',
                                        title: `${data.error}`
                                    })
                                }

                            },
                            error: function (error) {
                                category_form.reset()
                                // sweet alert toast init
                                var Toast = Swal.mixin({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 5000,
                                    timerProgressBar: true,
                                    didOpen: (toast) => {
                                        toast.addEventListener('mouseenter', Swal.stopTimer)
                                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                                    }
                                });

                                Toast.fire({
                                    icon: 'error',
                                    title: "Some error occured! Please Contact Systems Admin"
                                })
                            }
                        });
                    }


                </script>
            </div>
        </div>


        <!-- ADD ITEM MODAL -->
        <div class="modal fade" id="add_item_modal">
            <div class="modal-dialog modal-xl">
                <form id="item-form">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Item</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div style="padding: 5px;">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div id="bloodhound" class="form-group">
                                                <label class="form-control-label" for="category">Category</label>
                                                <input type="text" id="category" name="category" class="form-control typeahead" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col form-group">
                                        <label class="form-control-label" for="item_name">Item Name</label>
                                        <input type="text" id="item_name" name="item_name" class="form-control"
                                            placeholder="Item Name..." required>
                                    </div>

                                    <div class="col-2 form-group">
                                        <label class="form-control-label" for="purchase_price">Purchase Price</label>
                                        <input type="text" id="purchase_price" name="purchase_price" class="form-control"
                                            placeholder="Purchase Price..." required>
                                    </div>
                                    <div class="col-2 form-group">
                                        <label class="form-control-label" for="item_price">Item Price</label>
                                        <input type="text" id="item_price" name="item_price" class="form-control"
                                            placeholder="Selling Price..." required>
                                    </div>
                                    <div class="col-2 form-group">
                                        <label class="form-control-label" for="quantity">Quantity</label>
                                        <input type="text" id="quantity" name="quantity" class="form-control"
                                            placeholder="Item Quantity..." required>
                                    </div>
                                    <div class="col-2 form-group">
                                        <label class="form-control-label" for="reorder_level">Reorder Level</label>
                                        <input type="text" id="reorder_level" name="reorder_level" class="form-control"
                                            placeholder="Reorder Level..." value="10" required>
                                    </div>
                                    <div class="col-2 form-group">
                                        <label class="form-control-label" for="reorder_quantity">Reorder Quantity</label>
                                        <input type="text" id="reorder_quantity" name="reorder_quantity" class="form-control"
                                            placeholder="Reorder Quantity..." required>
                                    </div>
                                    <div class="col-2 form-group">
                                        <label class="form-control-label" for="location">Location</label>
                                        <input type="text" id="location" name="location" class="form-control"
                                            placeholder="Location...">
                                    </div>

                                </div>
                                <div class="row form-group">
                                    <label class="form-control-label" for="description">Description</label>
                                    <textarea class="form-control" name="description" id="description" cols="5" rows="3"
                                        placeholder="A short description of the item..."></textarea>
                                </div>
                                <datalist id='categories'>
                                    {% if categories %}
                                    {% for category in categories %}
                                    <option value="{{category.category_name}}">
                                        {% endfor %}
                                        {% else %}
                                    <option value="Please add categories first">
                                        {% endif %}
                                </datalist>

                                <hr class="my-4">

                                <!-- ADD ITEM JQUERY SCRIPT -->
                                <script>
                                    var item_form = document.getElementById("item-form");
                                    item_form.addEventListener('submit', submitHandler);

                                    function submitHandler(e) {
                                        e.preventDefault();

                                        $.ajax({
                                            type: 'POST',
                                            url: "{% url 'create_item' %}",
                                            data: $('#item-form').serialize(),
                                            dataType: 'json',
                                            success: function (data) {
                                                item_form.reset()
                                                // append new item to table
                                                if (data.item) {
                                                    appendToItemTable(data.item);

                                                    // sweet alert modal
                                                    var Toast = Swal.mixin({
                                                        toast: true,
                                                        position: 'top-end',
                                                        showConfirmButton: false,
                                                        timer: 5000,
                                                        timerProgressBar: true,
                                                        didOpen: (toast) => {
                                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                                        }
                                                    });

                                                    Toast.fire({
                                                        icon: 'success',
                                                        title: `Successfully Added ${data.item.item_name}`
                                                    });
                                                }
                                            },
                                            error: function () {
                                                var Toast = Swal.mixin({
                                                    toast: true,
                                                    position: 'top-end',
                                                    showConfirmButton: false,
                                                    timer: 5000,
                                                    timerProgressBar: true,
                                                    didOpen: (toast) => {
                                                        toast.addEventListener('mouseenter', Swal.stopTimer)
                                                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                                                    }
                                                });

                                                Toast.fire({
                                                    icon: 'error',
                                                    title: 'Something did not go right, please try again.'
                                                })
                                            }
                                        });
                                    }
                                </script>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Add Item</button>
                            <button type="button" onclick="resetForm('item-form')" class="btn btn-outline-secondary">Clear
                                form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {% block footer %} {% include 'pos/includes/footer.html' %} {% endblock footer %}
        <!-- partial -->
    </div>
    <!-- page-body-wrapper ends -->
    <script>
        /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>{% static 'pos
                        INITIATING DATA TABLE
         *<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
        $(function () {
            $("#items_table").DataTable({
                "responsive": true, "lengthChange": true,
                "autoWidth": true, "info": true,
                "buttons": ["excel", "pdf"]
            }).buttons().container().appendTo('#items_table_wrapper .col-md-6:eq(0)');
        });

        $(function(){
             $.get("/restful_api/get_object_list/", { model: "category" }, function (data) {
                let categories = data.categories;
                // constructs the suggestion engine
                var substringMatcher = function (strs) {
                    return function findMatches(q, cb) {
                        var matches, substringRegex;

                        // an array that will be populated with substring matches
                        matches = [];

                        // regex used to determine if a string contains the substring `q`
                        var substrRegex = new RegExp(q, 'i');

                        // iterate through the pool of strings and for any string that
                        // contains the substring `q`, add it to the `matches` array
                        for (var i = 0; i < strs.length; i++) {
                            if (substrRegex.test(strs[i])) {
                                matches.push(strs[i]);
                            }
                        }

                        cb(matches);
                    };
                };

                $('#bloodhound .typeahead').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                }, {
                    name: 'Categories',
                    source: substringMatcher(categories)
                });

            }).fail(function (data) {
                Swal.fire(
                    'Category names no loaded!',
                    `${data.error}`,
                    'error'
                )
            });
        })



        /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
              DELETE ITEM FUCNTION
            - function fires a sweet alert
            - dialogue box that on confirm
            - sends a resful get request
            - to crud to delete the passed item id
        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
            function deleteItem(item_id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete item!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.get("/restful_api/delete_item/", { item_id: item_id }, function (data) {
                            // if data has item => successfull ? else error
                            if (data.item) {
                                // remove row from table
                                $(`#row${item_id}`).remove();
                                Swal.fire(
                                    'Deleted!',
                                    `${data.item} has been deleted.`,
                                    'success'
                                )
                            } else {
                                Swal.fire(
                                    'Something Went Wrong!',
                                    `${data.error}`,
                                    'error'
                                )
                            }
                        })
                            .fail(function (data) {
                                Swal.fire(
                                    'Something Went Wrong!',
                                    `${data.error}`,
                                    'error'
                                )
                            });
                    }
                })
            }

        /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                    APPEND VEW ITEM TO TABLE
        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
            function appendToItemTable(item) {
                $('#items_table > tbody:last-child').append(`
                        <tr>
                            <td>${item.id}</td>
                            <td><a href="#!">${item.item_name}</a></td>
                            <td>${item.description}</td>
                            <td>${item.quantity}</td>
                            <td>${item.unit_price}</td>
                            <td>${item.value}</td>
                            <td><button class="btn btn-info">Avilable</button></td>
                            <td>${item.category}</td>
                            <td class="row">
                                <button class="btn btn-success" data-toggle="modal" data-target="#editItemModal${item.id}"><i
                                                        class="mdi mdi-table-edit"></i></button>
                                <button onclick="deleteItem(${item.id});" class="btn btn-pinterest"><i
                                                        class="mdi mdi-trash-can"></i></button>
                            </td>
                        </tr>
                    `);
                }


            /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                ADD ITEM CLEAR FORM FUNCTION
            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
            function resetForm(form_id) {
                var form = document.getElementById(form_id);
                form.reset()

            }

    </script>
    {% endblock content %}
