{% extends 'pos/base.html' %}

{% block title %} ADVANCE-POS {% endblock %}

{% block content %}

{% load static %}

<!--   INCLUDING THE BODY TAG -->
{% block bodytag %} {% include 'pos/includes/body_tag.html' %} {% endblock bodytag %}

<!--   INCLUDING THE TOP NAV -->
{% block topnav %} {% include 'pos/includes/topnav.html' %} {% endblock topnav %}
<!-- partial -->

<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <!--   INCLUDING THE SIDEBAR -->
    {% block settings %} {% include 'pos/includes/settings.html' %} {% endblock settings %}
    <!-- partial -->

    <!--   INCLUDING THE SIDEBAR -->
    {% block sidebar %} {% include 'pos/includes/sidebar.html' %} {% endblock sidebar %}
    <!-- partial -->

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <ul class="nav nav-tabs">
                        <li class="nav-item hide-on-mobile" style="margin: 5px;">
                            <a href="#" id="refresh" class="btn btn-outline-warning btn-sm btn-icon-text">
                                <i class="ti-reload btn-icon-prepend"></i>
                                Refresh
                            </a>
                        </li>
                    </ul>
                    <div class="hide-on-mobile">
                        <div class="btn-wrapper">
                            <a href="#" class="btn btn-otline-dark btn-sm align-items-center disabled"><i
                                    class="icon-share"></i>
                                Share</a>
                            <a href="#" class="btn btn-otline-dark btn-sm disabled"><i class="icon-printer"></i>
                                Print</a>
                            <a href="#" class="btn btn-outline-mdb-color me-0 disabled" style="margin-bottom: 5px;"><i
                                    class="icon-download"></i> Export</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Payments</h4>

                            <div class="table-responsive pt-3">
                                <table id="payments_table" class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>#ID</th>
                                            <th>#SALE ID</th>
                                            <th>DESCRIPTION</th>
                                            <th>AMOUNT</th>
                                            <th>METHOD</th>
                                            <th>DATE</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {% block footer %} {% include 'pos/includes/footer.html' %} {% endblock footer %}
        <!-- partial -->
    </div>
    <!-- page-body-wrapper ends -->
    <script src="{% static 'pos/plugins/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript">
        /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>{% static 'pos
                            INITIATING DATA TABLE
             *<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
            $(function () {
                $("#payments_table").DataTable({
                    "responsive": true, "lengthChange": true,
                    "autoWidth": true, "info": true,
                    "buttons": ["excel", "pdf"]
                }).buttons().container().appendTo('#payments_table_wrapper .col-md-6:eq(0)');
            });
    </script>
    {% endblock content %}
