{% extends 'pos/base.html' %} {% block title %} ADVANCE-POS {% endblock %} {% block content %} {% load static %}

<style>
    /* table {
        border-collapse: collapse;
        border: 2px solid black;
    }

    table thead {
        border: 2px solid black;
    }
    */

    td {
        /* border: 2px solid black; */
        position: relative;
        /* padding: 5px 10px; */
    }

    tr.strikeout td:before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 0;
        border-bottom: 3px solid red;
        width: 100%;
    }

    .custom-input {
        border: 2px solid black;
    }

    .hide {
        display: none;
    }
</style>


<!--   INCLUDING THE BODY TAG -->
{% block bodytag %} {% include 'pos/includes/body_tag.html' %} {% endblock bodytag %}

<!--   INCLUDING THE TOP NAV -->
{% block topnav %} {% include 'pos/includes/topnav.html' %} {% endblock topnav %}
<!-- partial -->

<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <!--   INCLUDING THE SIDEBAR -->
    {% block settings %} {% include 'pos/includes/settings.html' %} {% endblock settings %}
    <!-- partial -->

    <!--   INCLUDING THE SIDEBAR -->
    {% block sidebar %} {% include 'pos/includes/sidebar.html' %} {% endblock sidebar %}
    <!-- partial -->

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <ul class="nav nav-tabs">
                        <li class="nav-item hide-on-mobile" style="margin: 5px;">
                            <a href="#" id="mobile_scan" class="btn btn-outline-success btn-sm btn-icon-text">
                                <i class="mdi mdi-qrcode-scan btn-icon-prepend"></i> Get Scans
                            </a>
                        </li>
                        <li class="nav-item" style="margin: 5px;">
                            <a href="#" id="qr_reaader" class="btn btn-outline-success btn-sm btn-icon-text">
                                <i class="mdi mdi-qrcode btn-icon-prepend"></i> Scan
                            </a>
                        </li>
                        <li class="nav-item" style="margin: 5px;">
                            <a href="#" id="type_in" class="btn btn-outline-success btn-sm btn-icon-text" data-toggle="modal"
                                data-target="#type_item_name">
                                <i class="mdi mdi-keyboard btn-icon-prepend"></i> Type in
                            </a>
                        </li>
                        <li class="nav-item hide-on-mobile" style="margin: 5px;">
                            <a href="#" id="refresh" class="btn btn-outline-warning btn-sm btn-icon-text">
                                <i class="ti-reload btn-icon-prepend"></i> Refresh
                            </a>
                        </li>
                    </ul>
                    <div class="hide-on-mobile">
                        <div class="btn-wrapper">
                            <a href="#" class="btn me-0" style="margin-bottom: 5px; border: none;">
                                <i class="mdi mdi-calculator-variant"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-header">
                            <div class="text-center"
                                style="height: 60px; width: 100%; border-radius: 10px; font-weight: 700; font-size: 40px;">
                                $<span id='sub-total'> 0.00</span></div>
                        </div>
                        <div class="card-body table-responsive pt-3" style="height: 400px;">
                            <div class="">
                                <table id="pos_table"
                                    class="table data-table table-responsive-md table-head-fixed text-nowrap table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#NO:</th>
                                            <th>ITEM</th>
                                            <th>QUANTITY</th>
                                            <th>PRICE</th>
                                            <th>PRICE TOTAL</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <button id="charge-button" class="btn btn-outline-success" style="width: 100%; margin: 5px;">Charge</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-primary get-change" style="width: 100%; margin: 5px;">Balance</button>
                                </div>
                                <div class="col">
                                    <button id="cancel_sales" class="btn btn-outline-danger"
                                        style="width: 100%; margin: 5px;">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--      TYPE IN ITEM MODAL   -->
        <div class="modal fade" id="type_item_name">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-body">
                        <div>
                            <form id="item-add-form">
                                <div class="row">
                                    <div id="bloodhound" class="form-group">
                                        <input type="text" id="item_name" name="item_name"
                                            class="form-control custom-input typeahead" placeholder="Item">
                                        <div class="red-text" id='item-input-error'></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-success btn-sm"><i
                                                class="mdi mdi-plus"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {% block footer %} {% include 'pos/includes/footer.html' %} {% endblock footer %}
        <!-- partial -->
    </div>
    <!-- page-body-wrapper ends -->
    <script src="{% static 'pos/plugins/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript">
        let purchasedItemsList = []; // append id,name,qty,price,value
        var table_row = 0; // item row index
        let totals;

         // autocomplete items table
        $(function () {
            $.get("/restful_api/get_object_list/", { model: "items" }, function (data) {
                var items = data.items;
                // constructs the suggestion engine
                var substringMatcher = function (strs) {
                    return function findMatches(q, cb) {
                        var matches, substringRegex;

                        // an array that will be populated with substring matches
                        matches = [];

                        // regex used to determine if a string contains the substring `q`
                        var substrRegex = new RegExp(q, 'i');

                        // iterate through the pool of strings and for any string that
                        // contains the substring `q`, add it to the `matches` array
                        for (var i = 0; i < strs.length; i++) {
                            if (substrRegex.test(strs[i])) {
                                matches.push(strs[i]);
                            }
                        }

                        cb(matches);
                    };
                };

                $('#bloodhound .typeahead').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                }, {
                    name: 'item',
                    source: substringMatcher(items)
                });

            }).fail(function (data) {
                Swal.fire(
                    'Item names no loaded!',
                    `${data.error}`,
                    'error'
                )
            });

        });

        // add item to table via keyboard input
        $("#item-add-form").submit(function (e) {
            e.preventDefault();
            let item_name = $("input[name='item_name']").val();
            // var quantity = $("input[name='quantity']").val();

            // no item entered error
            if (item_name == "") {
                $("#item-input-error").html("please Add an item first!");
                return;
            }

            // clear error div on input
            $("#item-input-error").html("");

            // send get request to database to get price
            $.get("/restful_api/get_item_price/", {
                item: item_name
            }, function (data) {
                // get item price from database
                if (data.price) {
                    // auto increment table row value
                    table_row++;

                    let item_price = parseFloat(data.price);
                    let quantity = 1;
                    // quantity is 1 so price=value
                    let item_value; // price * qty
                    item_value = item_price;
                    // append values to table
                    appendToTable(table_row, item_name, quantity, item_price, item_value);
                    // add values to purchase list
                    addToList(table_row, item_name, quantity, item_value);
                    // update subtotal display
                    updateDisplay();
                    // clear item name input field on submit
                    $("input[name='item_name']").val("");
                } else {
                    Swal.fire(
                        'Something Went Wrong!',
                        `${data.error}`,
                        'error'
                    )
                }
            }).fail(function (data) {
                Swal.fire(
                    'Something Went Wrong!',
                    `${data.error}`,
                    'error'
                )
            });

        });

        // append item to sales table
        function appendToTable(table_row, item_name, quantity, item_price, item_value) {
            $(".data-table > tbody").append(`
                                                <tr>
                                                    <td scope="row" class="table-active" style="white-space: nowrap; width: 20px;">${table_row}</td>
                                                    <td>${item_name}</td>
                                                    <td style="white-space: nowrap; width: 30px;"><input type="text" name="item-qty" id="item-qty" class="form-control" value="${quantity}"></td>
                                                    <td style="white-space: nowrap; width: 40px;"><input type="text" name="price" id="price" value="${item_price}" disabled></td>
                                                    <td style="white-space: nowrap; width: 40px;"><input type="text" name="value" id="value" value="${item_value}" disabled></td>
                                                    <td style="white-space: nowrap; width: 50px">
                                                        <button class="btn btn-success btn-edit hide">Update</button>
                                                        <button class="btn btn-warning btn-cancel">Cancel</button>
                                                        <button class="btn btn-danger btn-delete hide">Delete</button>
                                                        <button class="btn btn-info btn-undo hide">Undo</button>
                                                    </td>
                                                </tr>
                `)
        };

        // add item to purchased list and updates subtotal
        function addToList(id, name, qty, value) {
            purchasedItemsList.push({ id: id, name: name, qty: qty, value: value });
        }

        // Remove cancelled item from array
        function removeItem(item_id) {
            let updated = [];
            for (let i = 0; i < purchasedItemsList.length; i++) {
                if (purchasedItemsList[i]['id'] !== item_id) {
                    updated.push(purchasedItemsList[i]);
                };
            }
            return updated;
        }

        function updateItem(item_id, qty, value){
            let updated = [];
            for (let i = 0; i < purchasedItemsList.length; i++) {
                if (purchasedItemsList[i]['id'] === item_id) {
                    purchasedItemsList[i]['qty'] = qty;
                    purchasedItemsList[i]['value'] = value;
                };
                updated.push(purchasedItemsList[i]);
            }
            return updated;
        }

        // get totals of purchased items list
        function getTotal() {
            let obj = { 'totalQty': 0, 'subTotal': 0 }; // total keys of the above list
            purchasedItemsList.forEach((item) => {
                obj['totalQty'] = obj['totalQty'] + item.qty;
                obj['subTotal'] = obj['subTotal'] + item.value;
            });
            return obj;
        }

        // update subtotal view
        function updateDisplay() {
            totals = getTotal();
            let number_format = new Intl.NumberFormat('en-US'); // format number with commas
            let total = totals['subTotal'].toFixed(2);
            $("#sub-total").html(total); // display subtotal to screen
        }



        // show edit button when qty input data changes
        // using the $body will set listener to all input fields
        $("body").on("input", "#item-qty", function () {
            $(this).closest("tr").find("td:eq(-1) .btn-edit").removeClass("hide"); // reveal edit button
        })

        // update item quantity and total price
        $("body").on("click", ".btn-edit", function () {
            let row_id = parseInt($(this).closest("tr").find("td:eq(0)").html()); // get row id
            let qty = $(this).closest("tr").find("td:eq(2) input").val(); // get new qty value
            let price = $(this).closest("tr").find("td:eq(3) input").val();
            let value = parseFloat(qty) * parseFloat(price);
            $(this).closest("tr").find("td:eq(4) input").val(value);
            purchasedItemsList = updateItem(row_id, qty, value);
            updateDisplay();


        });

        // using strike row to mark cancelled and cancelling item
        $("body").on("click", ".btn-cancel", function () {
            $(this).parents("tr").addClass("strikeout"); // strike row
            $(this).closest("tr").find("td:eq(2) input").prop('disabled', true) // make quantity column uneditable
            $(this).closest("tr").find("td:eq(-1) .btn-edit").addClass("hide"); // hide edit button
            $(this).closest("tr").find("td:eq(-1) .btn-cancel").addClass("hide"); // hide cancel button
            $(this).closest("tr").find("td:eq(-1) .btn-undo").removeClass("hide"); // reveal undo button
            $(this).closest("tr").find("td:eq(-1) .btn-delete").removeClass("hide"); // reveal delete button
            let row_id = parseInt($(this).closest("tr").find("td:eq(0)").html()); // get row id
            purchasedItemsList = removeItem(row_id);
            updateDisplay();
        });

        // undo cancel effect
        $("body").on("click", ".btn-undo", function () {
            $(this).parents("tr").removeClass("strikeout") // remove strike from row
            $(this).closest("tr").find("td:eq(2) input").prop('disabled', false); // make quantity column editable
            $(this).closest("tr").find("td:eq(-1) .btn-edit").removeClass("hide"); // reveal edit button
            $(this).closest("tr").find("td:eq(-1) .btn-cancel").removeClass("hide"); // reveal cancel button
            $(this).closest("tr").find("td:eq(-1) .btn-undo").addClass("hide"); // hide undo button
            $(this).closest("tr").find("td:eq(-1) .btn-delete").addClass("hide"); // hide delete button

            let row_id = parseInt($(this).closest("tr").find("td:eq(0)").html()); // get row id
            let name = $(this).closest("tr").find("td:eq(1)").html();
            let qty = parseInt($(this).closest("tr").find("td:eq(2) input").val()); // get new qty value
            let value = parseInt($(this).closest("tr").find("td:eq(4) input").val());
            addToList(row_id, name, qty, value);
            // update subtotal display
            updateDisplay();
        });

        // delete row
        $("body").on("click", ".btn-delete", function () {
            $(this).parents("tr").remove();
        });

        // delete all items on charge
        function deleteAllRows(){
            if (purchasedItemsList){
                const length = purchasedItemsList.length;
                if (length === 1){
                    $(".data-table >tbody:last-child").remove();
                }else{
                    for (let i=0; i<length; i++){
                        $(".data-table >tbody:last-child").remove();
                    }
                }
            }
        }



        $("#charge-button").click(function () {
            if (purchasedItemsList.length < 1){ // if no item is for purchase
                Swal.fire({
                    text: "No Payments to Process!",
                    icon: 'error'
                })
                return;
            }
            $.get("/restful_api/update_purchased_items/", {
                items: JSON.stringify(purchasedItemsList)
            }, function (data) {
                deleteAllRows()
                purchasedItemsList = [];
                updateDisplay()
                alert(data.msg);
            }).fail(function () {
                alert("Failed");
            })
        });

        // Get change popup
        $('.get-change').on('click', function () {
            if (purchasedItemsList.length < 1) { // if no item is for purchase
                Swal.fire({
                    text: "No Items Selected!",
                    icon: 'error'
                })
                return;
            }else{
                const ipAPI = '//api.ipify.org?format=json'

                const inputValue = fetch(ipAPI)
                    .then(response => response.json())
                    .then(data => data.amount)

                const {
                    value: amount
                } = Swal.fire({
                    title: 'Enter Amount Given',
                    input: 'text',
                    inputLabel: 'Amount',
                    inputValue: inputValue,
                    showCancelButton: true,
                    confirmButtonText: 'Get Balance',
                    inputValidator: (value) => {
                        if (!value) {
                            return 'You need to enter amount!'
                        } else {
                            let price = getTotal()['subTotal'];
                            let change = value - price;
                            if (change < 0) {
                                Swal.fire({
                                    text: `Amount too Low! no ${price} from ${value}`,
                                    icon: 'error'
                                })
                            } else {
                                Swal.fire(`Give back : "$${change}"`)
                            }
                        }
                    }
                })
            }
        });

        // Cancel sales sweet alert modal
        $("#cancel_sales").on('click', function (event) {
            event.preventDefault();
            if (purchasedItemsList.length < 1) { // if no item is for purchase
                Swal.fire({
                    text: "No Items Selected!",
                    icon: 'error'
                })
                return;
            }else {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    showCloseButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, Cancel!',
                    cancelButtonText: 'No, Continue',
            }).then((result) => {
                if (result.isConfirmed) {
                    deleteAllRows();
                    purchasedItemsList = [];
                    updateDisplay();
                }
            });
            }
        });
    </script>
    {% endblock content %}
