{% extends 'pos/base.html' %}

{% block title %} REGISTER | ADPOS {% endblock %}

{% block content %}

{% load static %}

<body style="background-image: url(../../images/photo2.png) !important;">
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <a href="#" class="row-cols-1" style="text-decoration: none;">
                  <img class="animation__shake" src="{% static 'pos/dist/images/logo-mini.svg' %}" alt="Apos Logo"
                    style="opacity: .8">
                </a>
              </div>
              <h4>Hello! let's get started</h4>
              <h6 class="fw-light">Create Account to continue.</h6>
              <form class="pt-3" method="POST">
                {% csrf_token %}
                <div class="modal-body mx-4">
                  <!--Body-->
                  <div class="md-form mb-5">
                    <i class="mdi mdi-account prefix grey-text"></i>
                    <input type="text" id="Form-email1" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="Form-email1">Username</label>
                  </div>

                  <div class="md-form mb-5">
                    <i class="mdi mdi-email prefix grey-text"></i>
                    <input type="email" id="Form-email1" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="Form-email1">Your email</label>
                  </div>

                  <div class="md-form pb-3">
                    <i class="mdi mdi-key prefix grey-text"></i>
                    <input type="password" id="Form-pass1" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
                  </div>

                  <div class="md-form pb-5">
                    <i class="mdi mdi-key prefix grey-text"></i>
                    <input type="password" id="Form-pass2" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="Form-pass1">Confirm password</label>
                  </div>

                  <div class="text-center mb-3">
                    <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Create Account</button>
                  </div>
                </div>
                <div class="text-center mt-4 fw-light">
                  Already have an account? <a href="{% url 'login' %}" class="text-primary">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  {% endblock content %}
